@{
    ViewBag.Title = "Поиск приложения";
}
<h2>@ViewBag.Title</h2>


<div class="row">
    Имя пакета или ссылка на <b>Google Play</b>:
    <p>
        <input class="form-control" id="package-name" />
    </p>
    <p>
        <button class="btn btn-success" id="package-find">Показать информацию</button>
    </p>
</div>

<div style="display: none" id="error-msg" class="alert alert-danger" role="alert"></div>

@Scripts.Render("~/js/app-info.js")