@{
    ViewBag.Title = "Поиск приложения";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    Что-то
</div>

<div class="row">
    <div class="col-md-4">
        тест1
    </div>
    <div class="col-md-4">
        тест2
    </div>
    <div class="col-md-4">
        тест3
    </div>
</div>

@Scripts.Render("~/js/app-info.js")